{% extends 'base.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1>Competence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>SousMatiere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.statut }}</td>
                <td>{{ competence.sousMatiere }}</td>
                <td>
                    <a href="{{ path('app_competence_show', {'id': competence.id}) }}" class="button blue-button">show</a>
                    <br> <br>
                    <a href="{{ path('app_competence_edit', {'id': competence.id}) }}" class="button blue-button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competence_new') }}" class="button blue-button">Create new</a>
{% endblock %}
